*{
	background-color:white;
	
	
}

input{
	padding:12px 5px;
	margin-top:12px;
	border:none;
	background-color:#dea866;
	border-radius: 7px;
}
textarea{
	padding:12px 5px;
	margin-top:12px;
	border-radius: 7px;
}

h1{
	align-items:center;
}

img{
	
width: 80px;
height:80px;
border-radius:50%;
object-fit:cover;
margin-left:12px;

}